# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\git_repository_my_cluster\coding\realtime_warehouse\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
